<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout}">
 
<div layout:fragment="content">
	<div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Account</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="is-marked has-separator">
                        <a th:href="@{/account}">Account</a>
                    </li>
                    <li class="is-marked">
                        <a th:href="@{/account/update}">Update Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="page-account u-s-p-t-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 card">
                    <div class="p-5">
                        <h3 class="account-h3 u-s-m-b-20 mb-2">Thông tin người dùng</h3>
                        <hr>
                        <form th:action="@{/account/save-info}" th:object="${user}" enctype="multipart/form-data" method="POST">   
								 <input type="hidden" th:field="*{id_taikhoan}"/>
							 		
							 	
							 			
							 		<label>Họ và tên<sup>*</sup></label>
							 		<input type="text" th:field = "*{hoten}" required
							 		class="form-control mb-4 col-6">
							 				 		
							 		<label>Email<sup>*</sup></label>
							 		<input type="text" th:field = "*{email}" required
							 		class="form-control mb-4 col-6">
							 		
							 		<label>Điện thoại<sup>*</sup></label>
							 		<input type="text" th:field = "*{dien_thoai}" required
							 		class="form-control mb-4 col-6">
							 		
							 		<label>Địa chỉ<sup>*</sup></label>
							 		<input type="text" th:field = "*{dia_chi}" required
							 		class="form-control mb-4 col-6">
							 		
							 		<label>Ảnh đại diện<sup>*</sup></label>
							 		<input type="file" name="file"
							 		class="form-control mb-4 col-6">
							 		
							 		<input type="hidden" th:name="img" th:id ="img" th:value="*{hinhanh}"/>
							 		
							 		
							 		<input type="hidden" th:field = "*{role}" required
							 		class="form-control mb-4 col-6">
							 		
							 		<button type="submit" class="btn btn-info">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>