<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout}">
 
<div layout:fragment="content">
	<div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Account</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="is-marked has-separator">
                        <a th:href="@{/account}">Account</a>
                    </li>
                    <li class="is-marked">
                        <a th:href="@{/account/update-account}">Update Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="page-account u-s-p-t-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 card">
                    <div class="p-5">
                        <h3 class="account-h3 u-s-m-b-20 mb-2">Đổi mật khẩu</h3>
                        <hr>
                        <form th:action="@{/account/update-account}" method="POST">   
                        <input type="hidden" name="accountId" id="accountId" th:value="${account.id_taikhoan}"/>
                                                             
                            <div class="u-s-m-b-30">
                                <label for="password">Mật khẩu <span class="astk">*</span>
                                </label>
                                <input type="password" id="password" name="password" 
                                class="text-field" placeholder="Nhập mật khẩu" required>
                            </div>
                            <div class="u-s-m-b-45">
                                <button type="submit" class="button button-primary w-100">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>